models/**/*.bin filter=lfs diff=lfs merge=lfs -text
models/**/*.xml filter=lfs diff=lfs merge=lfs -text
models/**/*.json filter=lfs diff=lfs merge=lfs -text
models/**/*.txt filter=lfs diff=lfs merge=lfs -text
